root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{csproj,props,targets,slnx,json,xml,yml,yaml}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = when_multiline:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA2225.severity = none
dotnet_diagnostic.CA1711.severity = none
dotnet_diagnostic.CA1720.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.CA1019.severity = none
dotnet_diagnostic.CA1003.severity = none
dotnet_diagnostic.CA1024.severity = none
dotnet_diagnostic.CA1000.severity = none
dotnet_diagnostic.CA1819.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1708.severity = none
dotnet_diagnostic.CA1806.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA1810.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA1040.severity = none
dotnet_diagnostic.CA1028.severity = none
dotnet_diagnostic.CA1027.severity = none
dotnet_diagnostic.CA1069.severity = none
dotnet_diagnostic.CA1508.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1852.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA1063.severity = none
dotnet_diagnostic.CA1816.severity = none
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CA1854.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA1307.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1309.severity = none
dotnet_diagnostic.CA1725.severity = none
dotnet_diagnostic.CA1805.severity = none
dotnet_diagnostic.CA1823.severity = none
dotnet_diagnostic.CA1801.severity = none
dotnet_diagnostic.CA1868.severity = none
dotnet_diagnostic.CA1510.severity = none
dotnet_diagnostic.CA1513.severity = none
dotnet_diagnostic.CA1512.severity = none
dotnet_diagnostic.CA1511.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA2208.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1849.severity = none
dotnet_diagnostic.CA5350.severity = none
dotnet_diagnostic.CA5351.severity = none
dotnet_diagnostic.CA5359.severity = none
dotnet_diagnostic.CA1416.severity = warning
dotnet_diagnostic.CA1421.severity = warning
dotnet_diagnostic.CA1420.severity = warning
dotnet_diagnostic.CA1418.severity = none
dotnet_diagnostic.CS1591.severity = none
